#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header2 {
    color: purple;
}

.parent {
    display: flex;
    flex-direction: column; /* makes items stack vertically */
    align-items: center; /* centers all items horizontally */
    gap: 2rem; /* scaling unit, changes with root font size, adds vertical spacing between items */
    padding: 1rem; /* creats internal spacing within an element */
    width: 100%;
    max-width: 100%;
}

.children {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

img {
  max-width: 100%;
  height: auto; /* whatever the default height is */
  margin: 1rem 0; /* 1rem going from top and bottom, 0 from left and right */
}

@media screen and (min-width: 1200x) {
  .parent {
    padding: 3rem;
    max-width: 1200px;
  }

  .children {
    width: 60px;
  }

  img {
    max-height: 300px;
    width: auto;
  }

  h1 {
    font-size: 2.5em; /* referring not to the root font size, but to the current font size of the element */
  }


  h2 {
    font-size: 2em; 
  }

  h4 {
    font-size: 1.2em;
  }

}